:host {
	display: block;
	padding: 32px;
	width: clamp(200px, 50dvw, 600px);
	border-radius: 16px;
	background-color: var(--mat-app-background-color);
}

form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
}

h1 {
	font-size: 24px;
	align-self: center;
}

.anonymous-user-notice {
	margin-top: 32px;
	align-self: center;
	text-align: center;
}
